<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Cadastrar Instituicoes</span></li>
				</ul>
				<a class="btn btn-primary btn-md" href="/instituicoes/listar"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span>Listar Instituicoes</span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="${instituicao.id == null} ? @{/instituicoes/salvar} : @{/instituicoes/editar}"
				th:object="${instituicao}" method="POST">
				<label for="formulario">Instituicoes</label>
				<div class="form-row" id="formulario">
					<div class="form-group col-md-5">

						<input type="text" class="form-control" id="nome"
							placeholder="Nome Instituicao" autofocus="autofocus"
							th:field="*{nome}" required />
					</div>
					<div class="form-group col-md-5">
						<input type="text" class="form-control" id="endereco"
							placeholder="Endereco Instituicao" autofocus="autofocus"
							th:field="*{endereco}" />
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-md-5">

						<input type="text" class="form-control" id="nomeProf"
							placeholder="Nome Professor Responsável" autofocus="autofocus"
							th:field="*{nomeProf}" required />
					</div>

					<div class="form-group col-md-5">

						<input type="text" class="form-control" id="telProf"
							placeholder="Telefone Professor" autofocus="autofocus"
							th:field="*{telProf}" />
					</div>
				</div>
				<div class="form-row">
				<div class="form-group col-md-5">

						<input type="text" class="form-control" id="telInst"
							placeholder="Telefone Instituicao" autofocus="autofocus"
							th:field="*{telInst}" />
					</div>
					<div class="form-group col-md-5">

						<input type="text" class="form-control" id="emailProf"
							placeholder="Email Professor" autofocus="autofocus"
							th:field="*{emailProf}" />
					</div>
				</div>
				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" class="btn btn-primary btn-sm">Salvar</button>
			</form>
		</div>
	</section>
</body>
</html>
